html.z {
  font-family: 'Anek Latin';
  font-size: var(--font-size-medium);
}

body.z-docs {
  @include zen-identity;

  position: fixed;
  box-sizing: border-box;
  margin: 0;
  margin-top: 5rem;
  overflow: auto;

  width: 100vw;
  height: calc(100vh - 5rem);

  display: flex;
  flex-direction: column;

  line-height: normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 0.75em;
    padding-bottom: 0.25em;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  >header {
    display: none;

    position: fixed;
    top: 0;
    width: 100vw;
  }

  >nav {
    display: none;
  }

  >main {
    top: 5rem;
    overflow: auto;

    >.content {
      margin: 3vmin 5vmin;
    }
  }

  blockquote {
    background-color: var(--color-background);
    margin: 1rem 0;
    border-left: 5px solid var(--color-primary);
    padding: 0.5rem;
  }

  img {
    max-width: 10rem;
    max-height: 10rem;

    &.icon {
      max-width: 1.5rem;
      max-height: 1.5rem;
    }
  }

  ul {
    list-style-position: inside;
    list-style-type: circle;
  }

  ol {
    list-style-position: inside;
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.5rem;
  }

  table {
    @include z-table;

    border: 1px solid var(--color-background);

    thead {
      inset-block-start: unset;
    }
  }

  .field {
    background-color: var(--color-background);
    font-weight: normal;
    line-height: calc(1rem + var(--border-radius) * 2);

    border: 1px dotted var(--color-on-surface);
    border-radius: var(--border-radius);
    padding: 0 var(--border-radius);

    &::before {
      content: "✎";
      color: var(--color-on-surface);
    }

    &.required {
      // color: var(--color-primary);

      &::before {
        // color: var(--color-primary);
      }

      &::after {
        content: "obrigatório";
        // font-variant: small-caps;
        font-size: 75%;
        font-weight: bold;
        margin-left: var(--border-radius);
        // color: var(--color-on-surface);
        color: var(--color-primary);
      }
    }
  }

  .menu {
    background-color: var(--color-background);
    font-weight: normal;
    line-height: calc(1rem + var(--border-radius) * 2);

    border: 1px dotted var(--color-on-surface);
    border-radius: var(--border-radius);
    padding: 0 var(--border-radius);

    &::before {
      content: "☰";
      color: var(--color-primary);
      margin-right: var(--border-radius);
    }
  }

  .status {
    background-color: var(--color-primary);
    color: var(--color-on-primary);

    border: 1px dotted var(--color-on-surface);
    border-radius: var(--border-radius);
    padding: 0 var(--border-radius);

    &::before {
      content: "⯈";
      // color: var(--color-on-surface);
      font-variant: small-caps;
      font-weight: bold;
      font-size: 75%;
      margin-right: var(--border-radius);
    }

    // font-weight: bold;
  }

  .tag {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);

    border: 1px dotted var(--color-on-surface);
    border-radius: var(--border-radius);
    padding: 0 var(--border-radius);
  }
}