@mixin headings {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }

}

@mixin zen-identity {
  html {
    background-color: var(--color-background);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 0.5em;
  }

  a {
    color: var(--color-secondary);

    &:hover {
      color: var(--color-primary);
    }

    // &:visited {
    //   color: var(--color-secondary);
    // }
  }

  // TODO remover daqui, mover para zen reset
  .input,
  input,
  option,
  select,
  textarea {
    outline: none;
    border: none;
    padding-left: 0;
    padding-right: 0;

    background-color: transparent;
    color: var(--color-on-surface);
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    background-color: var(--color-on-primary);
    color: var(--color-primary);
    text-decoration: underline;

    background-color: var(--color-secondary);
    color: var(--color-on-secondary);

    border: none;
    border-radius: var(--border-radius);

    padding: 1rem 2rem;
    padding: 1.1rem 2.4rem;

    &.disabled {
      opacity: 0.3;
    }

    cursor: pointer;

    // &:focus {
    //   outline: 1px solid var(--color-secondary);
    // }

    &.default {
      border: none;
      background-color: var(--color-primary);
      color: var(--color-on-primary);
    }

    &.cancel {
      border: none;
      background-color: transparent;
      color: var(--color-primary);
    }

    image,
    svg {
      width: 1rem;
      height: 1rem;

      padding-right: 0.25rem;
    }
  }

  .note:not(.sticky) {
    border-left: 3px solid var(--color-info);
    padding: 0.5rem 0.5rem;

    background-color: var(--color-lightgray);

    &.success {
      border-left-color: var(--color-success);
    }

    &.warning {
      border-left-color: var(--color-warning);
    }

    &.danger {
      border-left-color: var(--color-danger);
    }
  }

  .note.sticky {
    box-shadow: 4px 4px 8px -2px gray;
    padding: 0.5rem 0.5rem;

    background-color: var(--color-info);
    color: var(--color-on-info);
    font-family: Caveat;
    font-size: 1.3rem;

    min-width: 8rem;
    max-width: 8rem;
    height: 6rem;

    transform: rotate(-3deg);
    transition: transform .15s linear;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;

      color: inherit;
      font-weight: bold;
    }

    &.success {
      background-color: var(--color-success);
      color: var(--color-on-success);
    }

    &.warning {
      background-color: var(--color-warning);
      color: var(--color-on-warning);
    }

    &.danger {
      background-color: var(--color-danger);
      color: var(--color-on-danger);
    }
  }

  // Put a sign on a component (usually for documentation purposes)
  .emphasis {
    position: relative;
    z-index: 100;

    &:before {
      content: "🡆";
      position: absolute;
      top: -1rem;
      left: -2rem;
      font-size: 2rem;
      color: green;
      transform: rotate(20deg);
      -webkit-text-stroke: 1px white;
    }

    // &:before {
    //   content: " ";
    //   position: absolute;
    //   top: -8px;
    //   left: -8px;
    //   right: -8px;
    //   bottom: -8px;
    //   // border: 4px solid rgba(255, 0, 0, 0.5);
    //   border-radius: var(--border-radius);
    //   background-color: rgba(0, 0, 0, 0.1);
    //   // z-index: -1;
    // }
  }
}

/* Zen */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

@mixin buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;

  box-sizing: border-box;
  padding: 1rem 3rem 2rem 3rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  max-width: 70rem;

  background-color: var(--color-surface);
}