@font-face {
  font-family: 'Anek Latin';
  src: url('fonts/AnekLatin.ttf') format('truetype-variations');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Caveat';
  src: url('fonts/Caveat.ttf') format('truetype-variations');
  font-weight: 1 999;
}

:root {
  $font-size: 15px;
  $dec: 0.85;
  $inc: 1.15;

  --font-size-xxx-small: #{calc(round($font-size * $dec * $dec * $dec * $dec * 10) / 10)};
  --font-size-xx-small: #{calc(round($font-size * $dec * $dec * $dec * 10) / 10)};
  --font-size-x-small: #{calc(round($font-size * $dec * $dec * 10) / 10)};
  --font-size-small: #{calc(round($font-size * $dec * 10) / 10)};
  --font-size-medium: #{$font-size};
  --font-size-large: #{calc(round($font-size * $inc * 10) / 10)};
  --font-size-x-large: #{calc(round($font-size * $inc * $inc * 10) / 10)};
  --font-size-xx-large: #{calc(round($font-size * $inc * $inc * $inc * 10) / 10)};
  --font-size-xxx-large: #{calc(round($font-size * $inc * $inc * $inc * $inc * 10) / 10)};
}

html {
  font-family: 'Anek Latin';
  font-size: var(--font-size-medium);
}

h1 {
  font-size: var(--font-size-xxx-large);
}

h2 {
  font-size: var(--font-size-xx-large);
}

h3 {
  font-size: var(--font-size-x-large);
}

h4 {
  font-size: var(--font-size-large);
}

h5 {
  font-size: var(--font-size-medium);
}

h6 {
  font-size: var(--font-size-small);
}

input {
  font-size: var(--font-size-medium);
}