:root {
  $color-primary: #f02d3a;
  $color-secondary: #1d9fc3;

  --color-primary: #{$color-primary};
  --color-on-primary: white;
  --color-shadow: #c4ebf6;
  --color-on-shadow: #303030;
  --color-surface: white;
  --color-on-surface: #303030;

  --color-secondary: #{$color-secondary};
  --color-on-secondary: white;
  --color-background: #f4f4f4;
  --color-on-background: #303030;
  --color-info: var(--color-secondary);
  --color-on-info: white;
  --color-success: #79bb22;
  --color-on-success: white;
  --color-warning: #f3bc18;
  --color-on-warning: white;
  --color-danger: #f02d3a;
  --color-on-danger: white;

  --color-status-preparing: var(--color-info);
  --color-on-status-preparing: white;
  --color-status-ready: var(--color-success);
  --color-on-status-ready: white;
  --color-status-working: var(--color-warning);
  --color-on-status-working: white;
  --color-status-done: #b0b0b0;
  --color-on-status-done: white;
  --color-status-danger: var(--color-danger);
  --color-on-status-danger: white;

  --color-lightgray: #f4f4f4;
  --color-gray: #b0b0b0;
  --color-darkgray: #8d8d8d;

  --color-border: rgba(0, 0, 0, 0.07);

  --color-primary-shadow: #{rgba($color-primary, 0.05)};
  --color-secondary-shadow: #{rgba($color-secondary, 0.05)};

  --border-radius: 0.3rem;

  --color-1: #f0cd00;
  --color-2: #f0eb00;
  --color-3: #b1d702;
  --color-4: #01cb25;
  --color-5: #01a977;
  --color-6: #01a78a;
  --color-7: #00a69e;
  --color-8: #02a4ad;
  --color-9: #0094b0;
  --color-10: #0083b1;
  --color-11: #016fc0;
  --color-12: #7d01f8;
  --color-13: #a001c6;
  --color-14: #b900a7;
  --color-15: #d10182;
  --color-16: #e20063;
  --color-17: #da411b;
  --color-18: #f85a00;
  --color-19: #f28801;
  --color-20: #f2ac00;
}
