.z-form-slot {
  padding: 5vmin 5vmin 5vmin 5vmin;

  background-color: var(--color-surface);

  max-width: 70rem;
}

.z-form-slot,
.z-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  textarea {
    resize: none;
    overflow-y: scroll;
    height: 5rem;
  }
}