body>header.z-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
  overflow-x: auto;

  min-height: 5rem;
  padding: 1rem 2vw;

  background-color: var(--color-primary);
  color: var(--color-on-primary);

  border-bottom: 1px solid var(--color-border);

  // z-index: 20;

  & .logo {
    display: flex;
  }

  & .logo div {
    width: 6rem;
    height: 3rem;
  }

  & .logo svg {
    fill: var(--color-on-primary);

    width: 100%;
    height: 100%;
  }

  // breadcrumbs

  & .breadcrumbs {
    display: inline;

    max-width: 20rem;

    @include mq-small {
      display: none;
    }
  }

  & .breadcrumbs span:not(:last-child):after {
    content: "»";
    padding: 0.5rem;
    color: var(--color-on-primary);
  }

  // search

  & .search {
    display: flex;
    align-items: center;

    background-color: var(--color-surface);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    padding: 0rem 0.5rem;

    min-width: 15rem;
    width: 20rem;
    height: 2rem;

    @include mq-small {
      display: none;
    }
  }

  & .search::after {
    content: "🔎︎";
    // padding-right: 1rem;
    color: var(--color-on-surface);
  }

  & .search input {
    outline: none;
    border: none;
    width: 100%;
  }

  // user

  & .user {
    //
  }

  // other

  & .other {
    display: flex;

    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
  }

  & .other svg {
    padding: 0.5rem;
    border-radius: 50%;
    fill: var(--color-primary);
    background-color: var(--color-on-primary);
  }
}