body>.z-notifications,
// legacy
body>.ps-notification-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;

  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  padding: 1vmin;
  max-height: 100vh;
  overflow: auto;

  &.hidden {
    display: none;
  }

  &>div {
    position: relative;

    box-sizing: border-box;

    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 1rem;
    min-width: 20rem;
    max-width: min(50rem, 100vw);

    overflow: hidden;

    // border: 2px solid var(--color-info);
    // background-color: var(--color-surface);
    // color: var(--color-on-surface);
    // fill: var(--color-on-info);

    background-color: var(--color-info);
    color: var(--color-on-info);
    fill: var(--color-on-info);

    @include headings {
      display: block;
      color: var(--color-on-info);
      font-size: var(--font-size-large);
    }

    &.fine {
      @include headings {
        color: var(--color-on-success);
      }

      // border-color: var(--color-success);
      background-color: var(--color-success);
      fill: var(--color-on-success);
    }

    &.warning {
      @include headings {
        color: var(--color-on-warning);
      }

      // border-color: var(--color-warning);
      background-color: var(--color-warning);
      fill: var(--color-on-warning);
    }

    &.danger,
    // legacy
    &.ps-notification--error {
      @include headings {
        color: var(--color-on-danger);
      }

      // border-color: var(--color-danger);
      background-color: var(--color-danger);
      fill: var(--color-on-danger);
    }

    &>.icon,
    &>img,
    &>svg {
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
    }
  }
}