.z-table-slot {
  overflow: auto;

  border-radius: var(--border-radius);

  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

@mixin z-table {
  width: fit-content;
  height: fit-content;

  background-color: inherit;

  thead {
    position: sticky;
    inset-block-start: 0;
    background-color: inherit;

    text-align: left;

    th {
      font-size: var(--font-size-small);
      font-weight: 500;

      background-color: inherit;
    }
  }

  tfoot {
    background-color: inherit;
    position: sticky;
    inset-block-end: 0;

    td {
      font-size: var(--font-size-small);
      font-weight: 500;
    }
  }

  td,
  th {
    padding: 2vmin;

    max-width: 10rem;

    border-bottom: 1px solid var(--color-border);

    vertical-align: middle;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mq-small {
      padding: 1vmin;
    }
  }

  tr.selected {
    td {
      background-color: var(--color-border);
    }
  }

  tr.current {
    td {
      background-color: var(--color-primary-shadow);
    }
  }

  ul.actions {
    display: flex;
    flex-direction: row;
    gap: 0.5vmin;

    // /* 2nd <ul> and above */
    // ul {
    //   /* hidden by default */
    //   display: none;

    //   position: absolute;

    //   /* border-radius: var(--border-radius); */
    //   margin-left: 2rem;

    //   /* drop down */
    //   top: 2rem;
    //   bottom: unset;

    //   z-index: 11;
    // }
  }

  .icon {
    display: inline-flex;

    box-sizing: content-box;
    padding: 0.1rem;
    width: 1rem;
    height: 1rem;

    fill: var(--color-on-surface);

    vertical-align: middle;
  }
}

.z-table-slot table,
.z-table {
  @include z-table;
}